/* Importer la police d'écriture */
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('./Raleway-SemiBold.ttf') format('truetype');
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Raleway-SemiBold';
  margin-left: 2%;
  overflow: hidden;
}

/* Texte en haut de la page */
#top {
  margin-top: 30vh;
  font-size: 2vw;
  line-height: 5vh;
  text-align: center;
}

/* Texte au centre de la page */
#middle {
  margin-top: 20vh;
  font-size: 3vw;
  text-align: center;
}

/* Lien de la page & Animation */
#link {
  color: #ff4444;
  text-decoration: none transparent;
}
#link:hover {
  color: #ce3131;
  text-decoration: underline;
  transition: text-decoration 1s ease;
}
