/* CSS Desktop (Index) */
@media only screen and (min-width: 1080px) {
  /* Importer les polices */
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
  }

  body {
    background-color: #111214 !important;
    color: #ffffff;
    margin-left: 2%;
    margin-top: 3%;
    overflow: hidden;
  }

  /* Titre en haut de la page */
  #top .title {
    user-select: none;
    position: relative;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-size: 3vw;
  }
  #top .title a {
    text-decoration: none;
    color: #ffffff;
  }

  /* Texte du bas de la page */
  #bottom {
    color: #555555;
    font-family: 'Raleway-SemiBold';
    font-size: 1vw;
    margin-left: 39vw;
    margin-bottom: 2vh;
  }
  #bottom a {
    color: #555555;
    text-decoration: none;
  }
  #bottom a:hover {
    color: #777777;
    text-decoration: underline;
  }

  /* Barre de scroll */
  ::-webkit-scrollbar {
    height: 1vh;
    width: 0.5vw;
    background-color: #111214;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 10px 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #353739;
    border-radius: 10vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #474d54;
  }
}

/* CSS Mobile (Index) */
@media only screen and (max-width: 1080px) {
  /* Importer les polices */
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
  }
  
  body {
    background-color: #111214 !important;
    color: #ffffff;
    margin-top: 5%;
    overflow: hidden;
  }

  /* Titre en haut de la page */
  #top .title {
    user-select: none;
    position: relative;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-size: 1.8vh;
    text-align: center;
  }
  #top .title a {
    text-decoration: none;
    color: #ffffff;
  }

  /* Texte du bas de la page */
  #bottom {
    position: absolute;
    color: #555555;
    font-family: 'Raleway-SemiBold';
    font-size: 3vw;
    margin-left: 22vw;
    bottom: 2vh;
  }
  #bottom a {
    color: #555555;
    text-decoration: none;
  }
  #bottom a:hover {
    color: #777777;
    text-decoration: underline;
  }

  /* Barre de scroll */
  ::-webkit-scrollbar {
    height: 1vh;
    width: 0.5vw;
    background-color: #111214;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 10px 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #353739;
    border-radius: 10vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #474d54;
  }
}